.header {
    float: left;
    text-align: left;
    color: white;
    background-color: black;
    border: solid 1px white;
}

.main {
    text-align: center;
    color: white;
    background-color: black;
    border: dotted 2px white;
}