.header {
    float: left;
    text-align: left;
    color: white;
    background-color: black;
    border: solid 1px white;
}

h1 { 
	text-align: left;
	color: white;
	background-color: black;
}

h2 { 
	text-align: left;
	color: white;
	background-color: black;
}

.aboutusnav {
	text-align: left;
	color: black;
	background-color: gray;
	border: solid 1px white;
}

.main {
    text-align: center;
    color: white;
    background-color: gray;
    border: dotted 2px white;
}

p { 
	text-align: center;       
}

.footer {
	text-align: center;
	color: white;
	background-color: gray;
	border: solid 1px white;
}
