/*---------------------------------------------------*/

/*HEADER #2
h2 {
    background-color: gray;
    color: blue; 
    text-align: center;
}*/

/*------------------------------------------------------*/

/*-------------------HEADER SECTION----------------------*/
.header {
  background-color: #F1F1F1;
  color: blue;
  text-align: left;
  padding: 20px;
  text-decoration: underline dotted blue 5px;
}

h1 {
    background-color: #F1F1F1;
    color: blue;
    text-align: left;
    padding: 20px;
   text-decoration: underline dotted blue 5px;
    
}


.topnav { 
    overflow: hidden;
}


/*---------------------BODY--------------------------------*/
b {
    background-color: gray;
    color: blue;
}
/*----------------------------------------------------------*/





/*------------------SIDE CONTENT----------------------------*/
aside {
      background-color: #F1F1F1;
      text-align: right;
      padding: 20px;
      border-style: solid;

}
/*--------------------------------------------------------*/






/*---------------------CONTACT MENU-------------------------*/
.menu {
    border-style: double;
}
/*--------------------------------------------------------*/





/*----------------COMPANY LOGO-----------------------------*/
.logo {
    width: 300px;
    height: 200px;
}
/*--------------------------------------------------------*/


